body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ddd;
}

.container {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.redd {
  background-color: red;
}
